form{
    background-color: #213b50;
    padding: 31px;
    color: #ffffff;
    width: 600px;
    margin 50px;
}

form.input, form select {
    margin-bottom: 10px;   
}

form label {
    display: block;
}

form label[for='agreement'] {
    display: inline;
}

form select:focus, form input:focus, form textarea:focus {
    background-color: #4e708c;
    border: #ffffff 1px solid;
    height: 150px;

}

form select, form input[type='text'],form input[type='tel'],form input[type='email'],form textarea {
    width: 300px;
    background-color: #2b4a64;
    color: white;
    border:#2b4a64 1px solid;
    height: 25px;
}

form input[type='submit'] {
    background-color:green;
    border: none;
    color:white
    text-transform: uppercase;
    padding: 10px 20px;
}

form input[name='city'] {
    height: 25px;
}