/* Flex Display  */

/* Właściwości itemów flex */
.flex-item {
    color: white;
    font-family: 'Lato' , sans-serif;
    border: 1 px solid olive;
    margin: 3px;
    background-color: green;

}

.flex-item:nth-last-of-type(odd) {
background-color: saddlebrown;

}
/* Granice kontenera */
.container {

    border: 2px dashed blue;
    display: flex;
}