img {
    width: 200px;
    height: auto;
    margin:10px;
}

#strawberry {
    float: left;
}

#strawberry2 {
    float: right;

}

p:last-child {

    background-color: turquoise;
    clear: both;
}